p {
    font-family: 'splatoon2regular', normal;
    }

@font-face {
    font-family: 'splatoon1regular';
    src: url('https://github.com/FFStumbles/Splat3Builds/blob/main/fonts/splatoon1-webfont.woff2') format('woff2'),
         url('https://github.com/FFStumbles/Splat3Builds/blob/main/fonts/splatoon1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'splatoon2regular';
    src: url('https://github.com/FFStumbles/Splat3Builds/blob/main/fonts/splatoon2-webfont.woff2') format('woff2'),
         url('https://github.com/FFStumbles/Splat3Builds/blob/main/fonts/splatoon2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}