@font-face {
    font-family: 'splatoon1regular';
    src: url('./splat3builds/fonts/Splatoon1.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'splatoon2regular';
    src: url('./splat3builds/fonts/Splatoon2.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'splatoon1regular';
    font-size: 70px;
}

p {
    font-family: 'splatoon2regular';
    font-size: 25px;
}