@font-face {
    font-family: 'splatoon1regular';
    src: url('./Splat3Builds/fonts/Splatoon1.ttf') format('truetype');
    src: url('./Splat3Builds/blob/edits/fonts/Splatoon1.ttf') format('truetype');
}

@font-face {
    font-family: 'splatoon2regular';
    src: url('./Splat3Builds/fonts/Splatoon1.ttf') format('truetype');
    src: url('./Splat3Builds/blob/edits/fonts/Splatoon1.ttf') format('truetype');
}

h1 {
    font-family: 'splatoon1regular';
    font-size: 70px;
}

p {
    font-family: 'splatoon2regular';
    font-size: 25px;
}
